@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

.textarea {
  width: 100%;
  height: 120px;
  border: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;
}

.button {
  width: 100%;
  padding: 10px 20px;
  color: aliceblue;
  background-color: #f57213;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hight-half {
  height: 50vh;
}

.description-bk {
  background-image: linear-gradient(0deg, #ba2827, #f43a5f);
  border-radius: 30%;
  position: absolute;
  top: 62%;
  left: -5px;
  height: 75%;
  width: 108%;
  transform: skew(45deg, -12deg);
  -webkit-transform: skew(45deg, -12deg);
  -moz-transform: skew(45deg, -12deg);
  -ms-transform: skew(45deg, -12deg);
  -o-transform: skew(45deg, -12deg);
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}
